@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-amita: 'Amita', serif;
  --font-poppins: 'Poppins', sans-serif;
  --color-primary: #E9762B;
  --color-secondary: #0D4715;
  --color-secondary-light: #41644A;
  --color-light: #EBE1D1;
}

html,
body {
  @apply overflow-x-hidden;
}





/***** Navbar ******/

.nav-logo {
  padding: 4px;
  background-size: 200% auto;
  -webkit-background-clip: text;
  color: transparent;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 200% center
  }

  ;

  100% {
    background-position: -200% center
  }
}

.navlinkEffect {
  position: relative;
  transition: all 0.3s;
}

.navlinkEffect::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.navlinkEffect:hover::after {
  transform: scaleX(1);
}

/********* END Navbar ****/

/***** Home Page ****/

.home-container {
  /* background-image: radial-gradient(circle at center, #ffae42 0%, #ff4500 100%); */
  /* background-color: #ff4500; */
}

@theme {
  --animate-pulse-glow: pulse-glow 2s ease-in-out infinite;

  @keyframes pulse-glow {

    0%,
    100% {
      text-shadow:
        0 0 10px #000,
        0 0 20px #E9762B,
        0 0 30px #E9762B;
    }

    50% {
      text-shadow:
        0 0 20px #fff,
        0 0 40px #E9762B,
        0 0 60px #E9762B,
        0 0 80px #E9762B;
    }
  }
}


@theme {
  --animate-pulse-glow2: pulse-glow2 2s ease-in-out infinite;

  @keyframes pulse-glow2 {

    0%,
    100% {
      text-shadow:
        0 0 10px #000,
        0 0 20px #E9762B,
        0 0 30px #E9762B;


    }

    50% {
      text-shadow:
        0 0 20px #0D4715,
        0 0 40px #E9762B,
        0 0 60px #E9762B,
        0 0 80px #E9762B;
    }
  }
}




/**** END Home *****/